@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hello Three.js</title>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <script src="/lib/three.js/three.min.js"></script>
    <script src="~/js/sample-three.js"></script>
</body>
</html>